In [2]:
# %pip install OSMPythonTools

In [1]:
# %pip install shapely

In [16]:
%pip install osmnx

Collecting osmnx
  Downloading osmnx-2.0.2-py3-none-any.whl.metadata (4.9 kB)
Requirement already satisfied: geopandas>=1.0 in /opt/conda/lib/python3.11/site-packages (from osmnx) (1.0.1)
Requirement already satisfied: networkx>=2.5 in /opt/conda/lib/python3.11/site-packages (from osmnx) (3.3)
Requirement already satisfied: numpy>=1.22 in /opt/conda/lib/python3.11/site-packages (from osmnx) (1.26.4)
Requirement already satisfied: pandas>=1.4 in /opt/conda/lib/python3.11/site-packages (from osmnx) (2.2.2)
Requirement already satisfied: requests>=2.27 in /opt/conda/lib/python3.11/site-packages (from osmnx) (2.32.3)
Requirement already satisfied: shapely>=2.0 in /opt/conda/lib/python3.11/site-packages (from osmnx) (2.0.6)
Requirement already satisfied: pyogrio>=0.7.2 in /opt/conda/lib/python3.11/site-packages (from geopandas>=1.0->osmnx) (0.9.0)
Requirement already satisfied: packaging in /opt/conda/lib/python3.11/site-packages (from geopandas>=1.0->osmnx) (24.1)
Requirement already satisfied: pyproj>=3.3.0 in /opt/conda/lib/python3.11/site-packages (from geopandas>=1.0->osmnx) (3.6.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas>=1.4->osmnx) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas>=1.4->osmnx) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.11/site-packages (from pandas>=1.4->osmnx) (2024.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.11/site-packages (from requests>=2.27->osmnx) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.11/site-packages (from requests>=2.27->osmnx) (3.8)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.11/site-packages (from requests>=2.27->osmnx) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.11/site-packages (from requests>=2.27->osmnx) (2024.8.30)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas>=1.4->osmnx) (1.16.0)
Downloading osmnx-2.0.2-py3-none-any.whl (99 kB)
Installing collected packages: osmnx
Successfully installed osmnx-2.0.2
Note: you may need to restart the kernel to use updated packages.

In [12]:
import pandas as pd
import geopandas as gpd

from shapely.geometry import Point

import matplotlib.pyplot as plt

import requests
from shapely.geometry import shape
from shapely.geometry import Polygon, LineString, MultiLineString
from shapely.ops import polygonize, unary_union

import osmnx as ox

# from OSMPythonTools.api import Api
# from OSMPythonTools.overpass import Overpass
# from OSMPythonTools.nominatim import Nominatim

# import random
# from shapely.geometry import Point, LineString
# from shapely.ops import unary_union
# from shapely import offset_curve
# from dotenv import load_dotenv
# import requests

%matplotlib inline
pd.set_option('display.max_columns', None)  # Show all columns

In [2]:
uk_boundaries = gpd.read_file("natural_assets_data_raw/uk_boundaries.gpkg")

## Loading protected areas

In [63]:
protected_areas = ox.features_from_place("United Kingdom", tags = {"boundary": "protected_area"})
protected_areas = protected_areas.to_crs(epsg=27700)
protected_areas = protected_areas[protected_areas.geometry.geom_type.isin(['Polygon', 'MultiPolygon'])]
protected_areas = protected_areas[~protected_areas.geometry.duplicated()].reset_index(drop=True)

In [72]:
protected_areas.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 1145 entries, 0 to 1144
Columns: 251 entries, geometry to short_name:en
dtypes: geometry(1), object(250)
memory usage: 2.2+ MB

In [86]:
protected_areas_over100 = protected_areas
protected_areas_over100 = protected_areas_over100[protected_areas_over100["access"] != "no"]
# threshold = 0.95  # 90% NaNs
protected_areas_over100 = protected_areas_over100.loc[:, protected_areas_over100.isna().mean() < threshold]
# protected_areas_over100.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 1131 entries, 0 to 1144
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   geometry          1131 non-null   geometry
 1   boundary          1131 non-null   object
 2   protect_class     369 non-null    object
 3   name              984 non-null    object
 4   protection_title  322 non-null    object
 5   wikidata          323 non-null    object
 6   wikipedia         265 non-null    object
 7   operator          209 non-null    object
 8   alt_name          72 non-null     object
 9   source            339 non-null    object
 10  leisure           475 non-null    object
 11  start_date        72 non-null     object
 12  website           238 non-null    object
 13  note              57 non-null     object
 14  designation       466 non-null    object
 15  natural           131 non-null    object
 16  name:gd           74 non-null     object
 17  type              371 non-null    object
dtypes: geometry(1), object(17)
memory usage: 167.9+ KB

In [89]:
protected_areas_over100.head(1)

,geometry,boundary,protect_class,name,protection_title,wikidata,wikipedia,operator,alt_name,source,leisure,start_date,website,note,designation,natural,name:gd,type
0,"POLYGON ((257432.785 147408.06, 257422.647 147...",protected_area,5,Exmoor National Park,national_park,Q593627,en:Exmoor,NaN,NaN,NaN,NaN,NaN,https://www.exmoor-nationalpark.gov.uk/,Contains public sector information licensed un...,national_park,NaN,NaN,boundary

In [90]:
protected_areas_over100 = protected_areas_over100[protected_areas_over100.geometry.intersects(uk_boundaries.union_all())]

In [92]:
# fig, ax = plt.subplots(figsize=(20, 20))

# protected_areas_over100.plot(ax=ax, cmap='tab20', alpha=0.6)

# plt.title("Combined Features by Group")
# plt.legend()
# plt.axis('off')
# plt.show()

In [95]:
protected_areas_over100.to_file("natural_assets_data_raw/protected_areas.gpkg", layer='protected_areas', driver="GPKG")

## Loading parks

In [3]:
parks = ox.features_from_place("United Kingdom", tags = {"leisure": "park", "access": "public"})
parks = parks.to_crs(epsg=27700)

parks = parks[parks.geometry.geom_type.isin(['Polygon', 'MultiPolygon'])]
parks = parks[~parks.geometry.duplicated()].reset_index(drop=True)

/opt/conda/lib/python3.11/site-packages/osmnx/_overpass.py:267: UserWarning: This area is 330 times your configured Overpass max query area size. It will automatically be divided up into multiple sub-queries accordingly. This may take a long time.
  multi_poly_proj = utils_geo._consolidate_subdivide_geometry(poly_proj)

In [38]:
parks_over100 = parks[parks.geometry.area > 1_000_000]
parks_over100 = parks_over100[parks_over100["access"] != "private"]
threshold = 0.95  # 90% NaNs
parks_over100 = parks_over100.loc[:, parks_over100.isna().mean() < threshold]
parks_over100.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 218 entries, 9 to 33798
Data columns (total 21 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   geometry                          218 non-null    geometry
 1   leisure                           218 non-null    object
 2   name                              213 non-null    object
 3   access                            21 non-null     object
 4   addr:city                         15 non-null     object
 5   addr:postcode                     15 non-null     object
 6   alt_name                          13 non-null     object
 7   website                           43 non-null     object
 8   tourism                           11 non-null     object
 9   wikidata                          98 non-null     object
 10  wikipedia                         71 non-null     object
 11  operator                          67 non-null     object
 12  operator:type                     35 non-null     object
 13  wheelchair                        11 non-null     object
 14  note                              20 non-null     object
 15  operator:wikidata                 35 non-null     object
 16  source                            43 non-null     object
 17  listed_status                     12 non-null     object
 18  type                              54 non-null     object
 19  boundary                          12 non-null     object
 20  communication:amateur_radio:pota  11 non-null     object
dtypes: geometry(1), object(20)
memory usage: 37.5+ KB

In [39]:
parks_over100.head(1) #see useful comments

,geometry,leisure,name,access,addr:city,addr:postcode,alt_name,website,tourism,wikidata,wikipedia,operator,operator:type,wheelchair,note,operator:wikidata,source,listed_status,type,boundary,communication:amateur_radio:pota
9,"POLYGON ((455659.735 205492.151, 455662.648 20...",park,Shotover Country Park,NaN,NaN,NaN,NaN,NaN,NaN,Q24677877,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,multipolygon,NaN,NaN

In [41]:
parks_over100.to_file("natural_assets_data_raw/parks_over100ha.gpkg", layer='parks', driver="GPKG")

## Loading nature reserves

In [42]:
nature_reserves = ox.features_from_place("United Kingdom", tags = {"leisure": "nature_reserve"})
nature_reserves = nature_reserves.to_crs(epsg=27700)

nature_reserves = nature_reserves[nature_reserves.geometry.geom_type.isin(['Polygon', 'MultiPolygon'])]
nature_reserves = nature_reserves[~nature_reserves.geometry.duplicated()].reset_index(drop=True)

/opt/conda/lib/python3.11/site-packages/osmnx/_overpass.py:267: UserWarning: This area is 330 times your configured Overpass max query area size. It will automatically be divided up into multiple sub-queries accordingly. This may take a long time.
  multi_poly_proj = utils_geo._consolidate_subdivide_geometry(poly_proj)

In [57]:
nature_reserves_100 = nature_reserves[nature_reserves.geometry.area > 1_000_000]
nature_reserves_100 = nature_reserves_100[~nature_reserves_100["access"].isin(["private", "no"])]
threshold = 0.95  # 90% NaNs
nature_reserves_100 = nature_reserves_100.loc[:, nature_reserves_100.isna().mean() < threshold]
nature_reserves_100.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 76 entries, 9 to 3397
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   geometry          76 non-null     geometry
 1   leisure           76 non-null     object
 2   name              69 non-null     object
 3   operator          26 non-null     object
 4   operator:type     4 non-null      object
 5   source            13 non-null     object
 6   website           19 non-null     object
 7   access            4 non-null      object
 8   wikidata          17 non-null     object
 9   wikipedia         13 non-null     object
 10  fixme             4 non-null      object
 11  designation       7 non-null      object
 12  natural           14 non-null     object
 13  boundary          20 non-null     object
 14  protection_title  4 non-null      object
 15  name:gd           4 non-null      object
 16  protect_class     6 non-null      object
 17  type              35 non-null     object
dtypes: geometry(1), object(17)
memory usage: 11.3+ KB

/opt/conda/lib/python3.11/site-packages/geopandas/geodataframe.py:1750: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  result = super().__getitem__(key)

In [58]:
nature_reserves_100["access"].value_counts()

access
permissive    3
permit        1
Name: count, dtype: int64

nature_reserves_100 = nature_reserves_100[nature_reserves_100.geometry.intersects(uk_boundaries.union_all())]

In [61]:
nature_reserves_100.to_file("natural_assets_data_raw/nature_reserves_over100ha.gpkg", layer='nature_reserves', driver="GPKG")

In [94]:
# fig, ax = plt.subplots(figsize=(20, 20))

# nature_reserves_100.plot(ax=ax, cmap='tab20', alpha=0.6)

# plt.title("Combined Features by Group")
# plt.legend()
# plt.axis('off')
# plt.show()

## Loading gardens

In [96]:
gardens = ox.features_from_place("United Kingdom", tags = {"leisure": "garden"})
gardens = gardens.to_crs(epsg=27700)
gardens = gardens[gardens.geometry.geom_type.isin(['Polygon', 'MultiPolygon'])]
gardens = gardens[~gardens.geometry.duplicated()].reset_index(drop=True)

/opt/conda/lib/python3.11/site-packages/osmnx/_overpass.py:267: UserWarning: This area is 330 times your configured Overpass max query area size. It will automatically be divided up into multiple sub-queries accordingly. This may take a long time.
  multi_poly_proj = utils_geo._consolidate_subdivide_geometry(poly_proj)

In [99]:
gardens.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 284045 entries, 0 to 284044
Columns: 384 entries, geometry to power
dtypes: geometry(1), object(383)
memory usage: 832.2+ MB

In [101]:
gardens_100 = gardens[gardens.geometry.area > 100_000]
gardens_100 = gardens_100[~gardens_100["access"].isin(["private", "no"])]
threshold = 0.95  # 90% NaNs
gardens_100 = gardens_100.loc[:, gardens_100.isna().mean() < threshold]
# gardens_100.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 119 entries, 1 to 264325
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   geometry       119 non-null    geometry
 1   leisure        119 non-null    object
 2   name           78 non-null     object
 3   wikidata       43 non-null     object
 4   wikipedia      26 non-null     object
 5   opening_hours  9 non-null      object
 6   garden:type    31 non-null     object
 7   website        30 non-null     object
 8   tourism        24 non-null     object
 9   access         21 non-null     object
 10  source         17 non-null     object
 11  email          10 non-null     object
 12  fee            18 non-null     object
 13  operator       23 non-null     object
 14  operator:type  8 non-null      object
 15  addr:city      13 non-null     object
 16  addr:postcode  14 non-null     object
 17  phone          13 non-null     object
 18  wheelchair     10 non-null     object
 19  landuse        13 non-null     object
 20  type           29 non-null     object
dtypes: geometry(1), object(20)
memory usage: 20.5+ KB

In [103]:
# fig, ax = plt.subplots(figsize=(20, 20))

# gardens_100.plot(ax=ax, cmap='tab20', alpha=0.6)

# plt.title("Combined Features by Group")
# plt.legend()
# plt.axis('off')
# plt.show()

In [105]:
gardens_100.to_file("natural_assets_data_raw/gardens_over10ha.gpkg", layer='gardens', driver="GPKG")

## Loading beaches

see also: https://www.data.gov.uk/dataset/748b475b-e534-4298-90bf-cca7b244a374/beaches-ccgbc/datafile/ce627212-5fa4-41a7-abf5-747579ca0d15/preview
https://data-housinggovie.opendata.arcgis.com/datasets/housinggovie::blue-flag-beaches/explore?location=52.337208%2C-5.298342%2C6.58
https://www.keepbritaintidy.org/2024-blue-flag-and-seaside-award-winners

In [3]:
beaches = ox.features_from_place("United Kingdom", tags = {"natural": "beach"})
beaches = beaches.to_crs(epsg=27700)
beaches = beaches[beaches.geometry.geom_type.isin(['Polygon', 'MultiPolygon'])]
beaches = beaches[~beaches.geometry.duplicated()].reset_index(drop=True)

/opt/conda/lib/python3.11/site-packages/osmnx/_overpass.py:267: UserWarning: This area is 330 times your configured Overpass max query area size. It will automatically be divided up into multiple sub-queries accordingly. This may take a long time.
  multi_poly_proj = utils_geo._consolidate_subdivide_geometry(poly_proj)

In [41]:
beaches_100 = beaches[beaches.geometry.area > 100_000]
beaches_100 = beaches_100[~beaches_100["access"].isin(["private", "no"])]
threshold = 0.98  # 90% NaNs
beaches_100 = beaches_100.loc[:, beaches_100.isna().mean() < threshold]

In [7]:
beaches_100.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 760 entries, 0 to 6256
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   geometry    760 non-null    geometry
 1   name        338 non-null    object
 2   natural     760 non-null    object
 3   surface     485 non-null    object
 4   lifeguard   34 non-null     object
 5   supervised  33 non-null     object
 6   name:en     20 non-null     object
 7   source      172 non-null    object
 8   name:cy     21 non-null     object
 9   wikidata    51 non-null     object
 10  access      49 non-null     object
 11  wikipedia   21 non-null     object
 12  tidal       143 non-null    object
 13  type        145 non-null    object
dtypes: geometry(1), object(13)
memory usage: 89.1+ KB

In [8]:
blue_flag = {
    "name": [
        "Porthcawl Marina", "Rest Bay", "Trecco Bay", "Cefn Sidan", "Aberystwyth South", "Borth",
        "Llangrannog", "Tresaith", "Prestatyn Central", "Broadhaven Central", "Coppet Hall", "Dale",
        "Newgale", "Poppit Sands", "Saundersfoot", "Tenby Castle Beach", "Tenby South", "Whitesands",
        "Tenby North", "Caswell Bay", "Langland Bay", "Port Eynon Bay", "Swansea Marina", "Penarth Marina",
        "Central Beach, Mablethorpe", "Central Beach, Skegness", "Central Beach, Sutton on Sea",
        "Three Shells Beach", "Westcliff Bay", "East Beach, Shoeburyness", "Shoebury Common", "Cromer",
        "Sheringham", "West Runton", "East Runton", "Frinton on Sea", "Brightlingsea", "Dovercourt Bay",
        "Felixstowe", "Southwold", "Whitley Bay South", "Tynemouth Longsands South", "King Edwards Bay",
        "Seaburn Beach", "Roker Beach", "Whitby", "Hornsea", "Withernsea", "Hayling Island Beachlands Central",
        "Saltdean Beach", "Hove Lawns", "Tankerton", "Sheerness", "St Mildred's Bay", "Minnis Bay",
        "Joss Bay", "West Wittering Beach", "Botany Bay", "Blackpool Sands", "Shore Road (Poole)",
        "Sandbanks Peninsula", "Avon Beach", "Highcliffe Beach", "Friars Cliff Beach", "Canford Cliffs",
        "Branksome Chine", "Alum Chine", "Manor Steps", "Durley Chine", "Fisherman's Walk", "Southbourne",
        "Carbis Bay", "Crooklets", "Gyllyngvase", "Porthmeor", "Polzeath", "Porthtowan", "Trevone Bay",
        "Widemouth Bay", "Summerleaze", "Beer", "Exmouth", "Seaton", "Sidmouth Town", "Swanage Central",
        "Dawlish Warren", "Breakwater Beach", "Broadsands", "Meadfoot Beach", "Preston Sands", "Oddicombe",
        "Torre Abbey Sands", "Westward Ho!", "Weymouth Central", "Croyde Bay",
        "Royal Albert Dock and Salthouse Dock Marina", "Rutland Water"
    ],
    "location": [
        "51.4797, -3.7047", "51.4879, -3.7086", "51.4761, -3.6936", "51.6860, -4.3511", "52.4083, -4.0855",
        "52.4872, -4.0506", "52.1460, -4.4705", "52.1325, -4.5043", "53.3314, -3.4131", "51.7742, -5.0997",
        "51.7131, -4.7032", "51.7075, -5.1695", "51.8478, -5.1273", "52.0825, -4.6997", "51.7100, -4.6997",
        "51.6725, -4.6997", "51.6667, -4.6997", "51.8936, -5.3033", "51.6750, -4.6997", "51.5714, -4.0333",
        "51.5714, -4.0167", "51.5461, -4.1764", "51.6150, -3.9392", "51.4400, -3.1694", "53.3400, 0.2600",
        "53.1430, 0.3360", "53.3200, 0.2700", "51.5380, 0.7130", "51.5370, 0.7050", "51.5500, 0.7900",
        "51.5450, 0.7550", "52.9310, 1.3010", "52.9440, 1.2100", "52.9350, 1.2410", "52.9370, 1.2590",
        "51.8310, 1.2450", "51.8120, 1.0220", "51.9330, 1.2800", "51.9630, 1.3510", "52.3270, 1.6800",
        "55.0400, -1.4400", "55.0200, -1.4300", "55.0200, -1.4200", "54.9300, -1.3700", "54.9300, -1.3700",
        "54.4870, -0.6140", "53.9100, -0.1700", "53.7300, -0.0300", "50.7900, -0.9800", "50.8000, -0.0500",
        "50.8200, -0.1700", "51.3600, 1.0500", "51.4400, 0.7600", "51.3800, 1.3300", "51.3700, 1.3100",
        "51.3700, 1.4300", "50.7800, -0.9000", "51.3800, 1.4300", "50.3000, -3.6200", "50.7100, -1.9500",
        "50.6900, -1.9400", "50.7300, -1.7400", "50.7400, -1.7100", "50.7300, -1.7500", "50.7100, -1.9200",
        "50.7100, -1.9300", "50.7100, -1.9200", "50.7100, -1.8600", "50.7100, -1.8800", "50.7100, -1.8500",
        "50.7200, -1.8200", "50.2000, -5.4700", "50.8300, -4.5500", "50.1470, -5.0700", "50.2120, -5.5290",
        "50.5740, -4.9160", "50.2790, -5.2420", "50.5510, -4.9720", "50.7900, -4.5500", "50.8300, -4.5500",
        "50.6980, -3.0940", "50.6180, -3.4040", "50.7040, -3.0700", "50.6780, -3.2380", "50.6080, -1.9570",
        "50.5980, -3.4360", "50.3920, -3.5100", "50.4080, -3.5490", "50.4560, -3.5140", "50.4410, -3.5590",
        "50.4750, -3.5250", "50.4610, -3.5370", "51.0420, -4.2370", "50.6060, -2.4560", "51.1270, -4.2390",
        "53.4000, -2.9900", "52.6500, -0.6300"
    ]
}

In [22]:
# Split lat-lon strings into float coordinates
latitudes = [float(loc.split(",")[0].strip()) for loc in blue_flag["location"]]
longitudes = [float(loc.split(",")[1].strip()) for loc in blue_flag["location"]]

# Create geometry (Points from lon, lat)
geometry = [Point(lon, lat) for lon, lat in zip(longitudes, latitudes)]
blue_flag = gpd.GeoDataFrame({"name": blue_flag["name"]}, geometry=geometry, crs="EPSG:4326")

In [23]:
blue_flag

                                           name                 geometry
0                              Porthcawl Marina  POINT (-3.7047 51.4797)
1                                      Rest Bay  POINT (-3.7086 51.4879)
2                                    Trecco Bay  POINT (-3.6936 51.4761)
3                                    Cefn Sidan   POINT (-4.3511 51.686)
4                             Aberystwyth South  POINT (-4.0855 52.4083)
..                                          ...                      ...
92                                 Westward Ho!    POINT (-4.237 51.042)
93                             Weymouth Central    POINT (-2.456 50.606)
94                                   Croyde Bay    POINT (-4.239 51.127)
95  Royal Albert Dock and Salthouse Dock Marina       POINT (-2.99 53.4)
96                                Rutland Water      POINT (-0.63 52.65)

[97 rows x 2 columns]

In [9]:
green_coast = {
    "name": [
        "Abereiddy", "Bracelet Bay", "Caerfai Bay", "Cilborth", "Druidston Haven", "Freshwater East",
        "Llanrhystud", "Manorbier", "Mwnt", "Penally", "Penbryn", "Silver Bay", "West Angle Bay",
        "Arklow South", "Ballyhiernan Bay", "Ballymoney", "Cahore South", "Donabate", "Dooey Beach",
        "Falcarragh Beach", "Garnish Beach", "Portmarnock", "Red Strand", "Renvyle", "Seapoint",
        "Silver Strand", "Thallabawn", "The Burrow", "Tyrella Beach (Clough)", "Abereiddy Bay",
        "Manorbier Bay"
    ],
    "location": [
        "51.935016, -5.2026574",  # Abereiddy
        "51.565189, -3.978006",   # Bracelet Bay
        "51.868997, -5.252989",   # Caerfai Bay
        "52.16191, -4.47051",     # Cilborth
        "51.7725, -5.0981",       # Druidston Haven
        "51.649382, -4.865176",   # Freshwater East
        "52.3059, -4.1457",       # Llanrhystud
        "51.6399, -4.7922",       # Manorbier
        "52.13584, -4.64092",     # Mwnt
        "51.6553, -4.7226",       # Penally
        "52.13988, -4.49436",     # Penbryn
        "53.3039, -4.5833",       # Silver Bay (approximate)
        "51.6882, -5.1107",       # West Angle Bay
        "52.788502, -6.142623",   # Arklow South
        "55.2000, -7.6170",       # Ballyhiernan Bay (approximate)
        "52.6556, -6.2361",       # Ballymoney (approximate)
        "52.5417, -6.2333",       # Cahore South (approximate)
        "53.4833, -6.1500",       # Donabate (approximate)
        "55.0167, -8.3167",       # Dooey Beach (approximate)
        "55.1833, -8.1000",       # Falcarragh Beach (approximate)
        "51.5333, -9.4667",       # Garnish Beach (approximate)
        "53.4333, -6.1375",       # Portmarnock (approximate)
        "51.5667, -8.9333",       # Red Strand (approximate)
        "53.5667, -10.0167",      # Renvyle (approximate)
        "53.2933, -6.1333",       # Seapoint (approximate)
        "53.2667, -9.0833",       # Silver Strand (approximate)
        "53.6333, -9.8167",       # Thallabawn (approximate)
        "53.3000, -6.2000",       # The Burrow (approximate)
        "54.3167, -5.7167",       # Tyrella Beach (Clough) (approximate)
        "51.935016, -5.2026574",  # Abereiddy Bay (same as Abereiddy)
        "51.6399, -4.7922"        # Manorbier Bay (same as Manorbier)
    ]
}

In [20]:
# Split lat-lon strings into float coordinates
latitudes = [float(loc.split(",")[0].strip()) for loc in green_coast["location"]]
longitudes = [float(loc.split(",")[1].strip()) for loc in green_coast["location"]]

# Create geometry (Points from lon, lat)
geometry = [Point(lon, lat) for lon, lat in zip(longitudes, latitudes)]
green_coast = gpd.GeoDataFrame({"name": green_coast["name"]}, geometry=geometry, crs="EPSG:4326")

In [21]:
green_coast

                      name                   geometry
0                Abereiddy  POINT (-5.20266 51.93502)
1             Bracelet Bay  POINT (-3.97801 51.56519)
2              Caerfai Bay    POINT (-5.25299 51.869)
3                 Cilborth  POINT (-4.47051 52.16191)
4          Druidston Haven    POINT (-5.0981 51.7725)
5          Freshwater East  POINT (-4.86518 51.64938)
6              Llanrhystud    POINT (-4.1457 52.3059)
7                Manorbier    POINT (-4.7922 51.6399)
8                     Mwnt  POINT (-4.64092 52.13584)
9                  Penally    POINT (-4.7226 51.6553)
10                 Penbryn  POINT (-4.49436 52.13988)
11              Silver Bay    POINT (-4.5833 53.3039)
12          West Angle Bay    POINT (-5.1107 51.6882)
13            Arklow South   POINT (-6.14262 52.7885)
14        Ballyhiernan Bay        POINT (-7.617 55.2)
15              Ballymoney    POINT (-6.2361 52.6556)
16            Cahore South    POINT (-6.2333 52.5417)
17                Donabate      POINT (-6.15 53.4833)
18             Dooey Beach    POINT (-8.3167 55.0167)
19        Falcarragh Beach       POINT (-8.1 55.1833)
20           Garnish Beach    POINT (-9.4667 51.5333)
21             Portmarnock    POINT (-6.1375 53.4333)
22              Red Strand    POINT (-8.9333 51.5667)
23                 Renvyle   POINT (-10.0167 53.5667)
24                Seapoint    POINT (-6.1333 53.2933)
25           Silver Strand    POINT (-9.0833 53.2667)
26              Thallabawn    POINT (-9.8167 53.6333)
27              The Burrow          POINT (-6.2 53.3)
28  Tyrella Beach (Clough)    POINT (-5.7167 54.3167)
29           Abereiddy Bay  POINT (-5.20266 51.93502)
30           Manorbier Bay    POINT (-4.7922 51.6399)

In [11]:
seaside_award = {
    "name": [
        "Aberavon", "Aberystwyth North", "Clarach", "Cold Knap", "Jackson's Bay", "New Quay Harbour",
        "Rhyl Central", "Traeth y Dolau", "Whitmore Bay", "Llantwit Major", "Penarth", "Aberporth",
        "New Quay Traeth Gwyn", "Aberdeen Ballroom Beach", "Balmedie Beach", "Collieston", "Cruden Bay",
        "Fraserburgh Tigerhill", "Fraserburgh Waters of Philorth", "Inverboyndie Beach", "Peterhead Lido",
        "Stonehaven Beach", "Montrose Seafront", "Carnoustie", "Arbroath", "Lunan Bay", "Monifieth",
        "East Haven", "Broughty Ferry", "Belhaven Bay", "Dunbar East", "Longniddry Bents, Gosford",
        "Yellowcraig", "North Berwick Milsey Bay", "North Berwick West Beach", "Longniddry Bents",
        "Gullane Bents", "Aberdour Silver Sands", "Anstruther Billowness", "Burntisland Beach",
        "Crail Roome Bay", "Elie Harbour", "Elie Ruby Bay", "Kingsbarns Beach", "Kirkcaldy Seafield",
        "Leven East", "St Andrews East Sands", "St Andrews West Sands", "Aberdour Black Sands",
        "Kirkcaldy Pathhead Sands", "Kinghorn and Pettycur Bay", "Brora Beach", "Dornoch Beach",
        "Sango Sands", "Nairn Central", "Loch Morlich", "Irvine", "Coldingham", "West Sandwick",
        "Sands of Breckon", "Ayr South", "Troon", "Maidens", "Prestwick", "Girvan", "Barassie Shore"
    ],
    "location": [
        "51.5931, -3.7897", "52.4194, -4.0829", "52.4443, -4.0774", "51.3906, -3.2892", "51.3931, -3.2728",
        "52.2150, -4.3560", "53.3200, -3.4910", "52.2130, -4.3540", "51.3894, -3.2694", "51.4040, -3.4930",
        "51.4340, -3.1730", "52.1390, -4.5430", "52.2140, -4.3510", "57.1497, -2.0930", "57.2510, -2.0160",
        "57.3500, -2.0830", "57.4180, -1.8490", "57.6920, -2.0030", "57.6900, -1.9800", "57.6670, -2.5090",
        "57.5050, -1.7890", "56.9630, -2.2080", "56.7080, -2.4680", "56.5010, -2.7070", "56.5590, -2.5820",
        "56.6330, -2.5560", "56.4820, -2.7780", "56.5100, -2.7240", "56.4670, -2.8800", "56.0010, -2.5270",
        "56.0030, -2.5100", "56.0050, -2.8750", "56.0580, -2.8280", "56.0580, -2.7140", "56.0580, -2.7220",
        "56.0050, -2.8750", "56.0370, -2.8270", "56.0580, -3.2820", "56.2240, -2.7020", "56.0580, -3.2360",
        "56.2570, -2.6260", "56.1900, -2.8300", "56.1880, -2.8310", "56.2730, -2.6300", "56.1070, -3.1660",
        "56.2000, -3.0000", "56.3380, -2.7830", "56.3430, -2.8140", "56.0580, -3.2830", "56.1200, -3.1500",
        "56.0700, -3.1700", "58.0090, -3.8530", "57.8800, -4.0300", "58.5050, -4.4170", "57.5880, -3.8750",
        "57.1670, -3.6740", "55.6119, -4.6693", "55.8840, -2.1390", "60.5130, -1.4560", "60.5550, -1.0330",
        "55.4500, -4.6230", "55.5430, -4.6600", "55.3650, -4.8370", "55.5000, -4.6160", "55.2400, -4.8530",
        "55.5410, -4.6470"
    ]
}

In [18]:
# Split lat-lon strings into float coordinates
latitudes = [float(loc.split(",")[0].strip()) for loc in seaside_award["location"]]
longitudes = [float(loc.split(",")[1].strip()) for loc in seaside_award["location"]]

# Create geometry (Points from lon, lat)
geometry = [Point(lon, lat) for lon, lat in zip(longitudes, latitudes)]
seaside_award = gpd.GeoDataFrame({"name": seaside_award["name"]}, geometry=geometry, crs="EPSG:4326")

In [19]:
seaside_award

                 name                 geometry
0            Aberavon  POINT (-3.7897 51.5931)
1   Aberystwyth North  POINT (-4.0829 52.4194)
2             Clarach  POINT (-4.0774 52.4443)
3           Cold Knap  POINT (-3.2892 51.3906)
4       Jackson's Bay  POINT (-3.2728 51.3931)
..                ...                      ...
61              Troon     POINT (-4.66 55.543)
62            Maidens    POINT (-4.837 55.365)
63          Prestwick      POINT (-4.616 55.5)
64             Girvan     POINT (-4.853 55.24)
65     Barassie Shore    POINT (-4.647 55.541)

[66 rows x 2 columns]

In [42]:
# 1. Merge the three GeoDataFrames
combined_coast_awards = pd.concat([blue_flag, seaside_award, green_coast], ignore_index=True)

# 2. Drop identical points (based on geometry - lat-lon)
combined_coast_awards = combined_coast_awards.drop_duplicates(subset='geometry')

# 3. Create the new columns for each award type
combined_coast_awards['blue_flag'] = combined_coast_awards['name'].isin(blue_flag['name']).astype("int")
combined_coast_awards['seaside_award'] = combined_coast_awards['name'].isin(seaside_award['name']).astype("int")
combined_coast_awards['green_coast'] = combined_coast_awards['name'].isin(green_coast['name']).astype("int")

combined_coast_awards = combined_coast_awards.to_crs(epsg=27700)

In [43]:
combined_coast_awards

,name,geometry,blue_flag,seaside_award,green_coast
0,Porthcawl Marina,POINT (281717.843 177016.376),1,0,0
1,Rest Bay,POINT (281468.324 177934.56),1,0,0
2,Trecco Bay,POINT (282479.338 176598.156),1,0,0
3,Cefn Sidan,POINT (237573.051 201199.154),1,0,0
4,Aberystwyth South,POINT (258237.044 280966.584),1,0,0
...,...,...,...,...,...
187,Seapoint,POINT (124653.884 385341.86),0,0,1
188,Silver Strand,POINT (-72038.707 397878.3),0,0,1
189,Thallabawn,POINT (-116344.573 443660.561),0,0,1
190,The Burrow,POINT (120255.086 386346.184),0,0,1
191,Tyrella Beach (Clough),POINT (158368.727 497606.327),0,0,1

In [44]:
combined_coast_awards.to_file("natural_assets_data_raw/coast_awards_point.gpkg", layer='coast_awards', driver="GPKG")

In [45]:
# 1. Create a 400m buffer for each point in the combined_coast_awards
combined_coast_awards['buffer'] = combined_coast_awards.geometry.buffer(400)

# 2. Initialize a new column in beaches_100 to store the sum of award columns
beaches_100['coast_award_sum'] = 0  # Default to 0

# 3. Loop through each beach polygon in beaches_100 and check for intersections with the buffered points
for idx, beach in beaches_100.iterrows():
    # Create a mask to identify points within the 400m buffer of the current beach
    mask = combined_coast_awards['buffer'].intersects(beach['geometry'])
    
    # Get the points that intersect with the current beach polygon
    intersecting_points = combined_coast_awards[mask]
    
    # Sum the award columns for the intersecting points
    # Assuming the award columns are 'blue_flag', 'seaside_award', 'green_coast'
    beach_award_sum = intersecting_points[['blue_flag', 'seaside_award', 'green_coast']].sum().sum()
    
    # Assign the award sum to the beach's award_sum column
    beaches_100.at[idx, 'coast_award_sum'] = beach_award_sum

In [50]:
beaches_100.head()

,geometry,name,natural,surface,lifeguard,supervised,name:en,source,name:cy,wikidata,access,wikipedia,tidal,type,coast_award_sum
0,"POLYGON ((320716.603 677076.823, 320669.155 67...",Drum Sands,beach,sand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,multipolygon,0
1,"POLYGON ((119462.764 602141.967, 119545.29 602...",White Park Bay,beach,NaN,NaN,NaN,NaN,NaN,NaN,Q16903231,NaN,NaN,NaN,multipolygon,0
2,"POLYGON ((332780.459 163169.415, 332778.988 16...",Sand Bay,beach,NaN,NaN,NaN,NaN,NaN,NaN,Q7415759,NaN,en:Sand Bay,NaN,multipolygon,0
3,"POLYGON ((637525.866 243682.808, 637532.23 243...",Orford Beach,beach,pebblestone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,multipolygon,0
5,"POLYGON ((624768.266 225716.013, 624776.064 22...",NaN,beach,NaN,NaN,NaN,NaN,OS_OpenData_VectorDistrict,NaN,NaN,NaN,NaN,yes,multipolygon,0

In [51]:
beaches_100.to_file("natural_assets_data_raw/beaches.gpkg", layer='beaches', driver="GPKG")

In [49]:
beaches_100["coast_award_sum"].value_counts()

coast_award_sum
0    713
1     40
2      5
3      2
Name: count, dtype: int64

In [52]:
# natural_values = [
#     "wood"
#     # , "tree", "tree_row", "scrub", "heath", "grassland", "fell", "bare_rock",
#     # "scree", "shingle", "sand", "mud", "beach", "dune", "cliff", "rock", "stone",
#     # "water", "wetland", "glacier", "reef", "cave_entrance"
# ]

# features_2 = {}

# for val in natural_values:
#     tag_2 = {"natural": val}
#     gdf = fetch_osm_features("United Kingdom", tag_2, element_types=("way", "relation"))
#     if gdf is not None and not gdf.empty:
#         features_2[val] = gdf
#         print(f"{val}: {len(gdf)} features")
#     else:
#         print(f"{val}: No features")

## Loading forests

In [ ]:
forest = ox.features_from_place("United Kingdom", tags = {"boundary": "forest"})
forest = forest.to_crs(epsg=27700)
forest = forest[beaches.geometry.geom_type.isin(['Polygon', 'MultiPolygon'])]
forest = forest[~woods.geometry.duplicated()].reset_index(drop=True)

/opt/conda/lib/python3.11/site-packages/osmnx/_overpass.py:267: UserWarning: This area is 330 times your configured Overpass max query area size. It will automatically be divided up into multiple sub-queries accordingly. This may take a long time.
  multi_poly_proj = utils_geo._consolidate_subdivide_geometry(poly_proj)

In [ ]:
beaches_100 = forest[forest.geometry.area > 100_000]
beaches_100 = beaches_100[~beaches_100["access"].isin(["private", "no"])]
threshold = 0.98  # 90% NaNs
beaches_100 = beaches_100.loc[:, beaches_100.isna().mean() < threshold]

In [ ]:
tags = {
  "type": "railwayStation"
}

stations = fetch_osm_features("England", tags, element_types=("nodes"))

print(stations.head())
print(f"Total features: {len(stations)}")

# Save or plot
# gdf.to_file("filtered_features.geojson", driver="GeoJSON")
stations.plot()

In [ ]:
https://hub.arcgis.com/datasets/RSPB::ibas-uk/about

## Loading stations

In [ ]:
stations = ox.features_from_place("United Kingdom", tags = {"type": "railwayStation"})
stations = stations.to_crs(epsg=27700)
stations = stations[beaches.geometry.geom_type.isin(['Polygon', 'MultiPolygon'])]
stations = stations[~stations.geometry.duplicated()].reset_index(drop=True)